{% extends "base.html" %}

{% load codrspace_tags %}

{% block title %}Page not found{% endblock %}

{% block extra_head %}{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
    {% include "_nav.html" with page="home" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Could not find page</h1>
            </div>
            <p>We couldn't find what you were looking for :(</p>
            <p>You could try:</p>
            <ul>
                <li><a href="{% url homepage %} ">Visiting the home page</a></li>
                <li><a href="{% random_blog %}"><i class="icon-random"></i> Check Out A Random Blog</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url add %}"><i class="icon-edit"></i> Post Something</a></li>
                    <li><a href="{% url post_list user.username %}"><i class="icon-user"></i> Re-visit Your Posts</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
