{% extends "base.html" %}

{% load codrspace_tags %}

{% block title %}Fail whale :({% endblock %}

{% block extra_head %}{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
    {% include "_nav.html" with page="home" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>An error happened</h1>
            </div>
            <p>We have been notified and are working hard to fix it!</p>
            <p>Thank you for your patience</p> 
        </div>
    </div>
{% endblock %}
