{% load codrspace_tags %}

{% if page == "home" %}
<nav>
    <ul>
        <li><a href="{% url homepage %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Suggestions</a></li>
        {% if not user.is_authenticated %}
            <li><a href="{% url signin_start %}">Sign In</a></li>
        {% else %}
            <li><a href="{% url post_list user.username %}">Your Posts</a></li>
            <li><a href="{% url signout %}">Sign out</a></li>
        {% endif %}
        <li><span class="mini-logo">CS</span> * Codrspace</li>
    </ul>
</nav>
{% endif %}

{% if page == "post_list" %}
<nav>
    <ul>
        <li><a href="{% url homepage %}">Home</a></li>
        <li><a href="{% random_blog %}">Random Blog</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url add %}">Add Post</a></li>
            <li><a href="{% url signout %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url signin_start %}">Sign In</a></li>
        {% endif %}
        <li><span class="mini-logo">CS</span> * Codrspace</li>
    </ul>
</nav>
{% endif %}

{% if page == "post_detail" %}
<nav>
    <ul>
        <li><a href="{% url homepage %}">Home</a></li>
        <li><a href="{% random_blog %}">Random Blog</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url edit post.pk %}">Edit Post</a></li>
            <li><a href="{% url add %}">Add Post</a></li>
            <li><a href="{% url signout %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url signin_start %}">Sign In</a></li>
        {% endif %}
        <li><span class="mini-logo">CS</span> * Codrspace</li>
    </ul>
</nav>
{% endif %}


{% if page == "auth_base" %}
<nav>
    <ul>
        <li><a href="{% url post_list user.username %}">Your Posts</a></li>
        <li><a href="{% url add %}">Add Post</a></li>
        <li><a href="{% url signout %}">Signout</a></li>
        <li><span class="mini-logo">CS</span> * Codrspace</li>
    </ul>
</nav>
{% endif %}

<div class="clear"><!-- iefix --></div>
