{% load codrspace_tags %}

<div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
         
              <!-- Be sure to leave the brand out there if you want it shown -->
              <a class="brand" href="{% url homepage %}"><img src="{{ STATIC_URL }}codrspace-nav-logo.png" alt="Codrspace - {{ SITE_TAGLINE }}" title="Codrspace - {{ SITE_TAGLINE }}"/></a>
         
              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse">
                {% if user.is_authenticated %}
                <ul class="nav">
                    <li><a href="{% url feedback %}"><i class="icon-ok icon-white"></i> Give Feedback</a></li>
                </ul>
                {% endif %}
                <ul class="nav pull-right">
                {% if page == "home" %}
                    {% if not user.is_authenticated %}
                        <li><a href="{% url signin_start %}"><i class="icon-play icon-white"></i> Sign In</a></li>
                    {% else %}
                        {% include "_nav_auth.html" %}
                    {% endif %}
                {% endif %}
                {% if page == "post_list" %}
                    {% if user.is_authenticated %}
                        {% include "_nav_auth.html" %}
                    {% else %}
                        <li><a href="{% url signin_start %}"><i class="icon-play icon-white"></i> Sign In</a></li>
                    {% endif %}
                {% endif %}
                {% if page == "post_detail" %}
                    {% if user.is_authenticated %}
                        {% include "_nav_auth.html" %}
                    {% else %}
                        <li><a href="{% url signin_start %}"><i class="icon-play icon-white"></i> Sign In</a></li>
                    {% endif %}
                {% endif %}
                {% if page == "auth_base" %}
                    {% include "_nav_auth.html" %}
                {% endif %}
                </ul>
                <!-- .nav, .navbar-search, .navbar-form, etc -->
              </div>
         </div>
       </div>
    </div>

<div class="nav-clear"><!-- iefix --></div>
