{% load codrspace_tags %}

<ul id="post-list">
{% for post in posts %}
    <li>
    <a href="{{ post.get_absolute_url }}">{% filter striptags|truncatewords:30 %}{% firstof post.title "Untitled" %}{% endfilter %}</a>
        <p> {{ post.content|truncatewords:50}} </p>
        <span class="post-list-date">{{ post.publish_dt|localize:user }}</span>
        <p class="edit-controls">
            {% if post.author == user %}
                <i class="icon-pencil"></i> <a class="tiny" href="{% url "edit" post.pk %}">edit</a>
                <i class="icon-trash"></i> <a class="tiny" href="{% url "delete" post.pk %}">delete</a>
            {% endif %}
        </p>
        <br style="clear: right;"/>
    </li>
{% endfor %}
</ul>
