{% load codrspace_tags %}
{% load short_codes %}

<div class="post">
<h2 class="post-header">
    <a href="{{ post.get_absolute_url }}">
        {% filter striptags|truncatewords:30 %}
            {% firstof post.title "Untitled" %}
        {% endfilter %}
    </a>
</h2>
<div class="post-meta">
    {{ post.create_dt|localize:user }} 
    {% if post.author == user %}
        <span class="post-status {{ post.status }}">{{ post.status }}</span>
        <span class="post-options-mini"><a href="{% url edit post.pk %}">edit</a></span>
        <span class="post-options-mini"><a href="{% url delete post.pk %}">delete</a></span>
    {% endif %}
</div>
<div class="post-content">
    {{ post.content|explosivo }}
</div>
{% if username == user.username %}
    <div class="post-options">
        <a href="{% url edit post.pk %}">Edit Post</a>
        <a href="{% url delete post.pk %}">Delete Post</a>
    </div>
{% endif %}
</div>
