<div id="guide">
    <h3>Shortcode Examples</h3>
    <h4>Gists</h4>
    <p class="sc-example"><strong>[gist 1044977]</strong>&nbsp;<span>Use Gist ID's from https://gist.github.com/(id)</span></p>
    <h4>Inline Code</h4>
    <p class="sc-example"><strong>[code]</strong>My code goes here<strong>[/code]</strong></p>
    <p class="sc-example">Or specify a language:</p>
    <p class="sc-example"><strong>[code lang="python"]</strong>My code goes here<strong>[/code]</strong></p>
    <p class="sc-example"><a href="http://pygments.org/languages/" target="_new">See supported languages</a></p>
    <h4>Uploaded text file</h4>
    <p class="sc-example"><strong>[local example.txt]</strong>&nbsp;<span>Upload files above and click them to insert into your post</span></p>

    <h3>Markdown Examples</h3>
    <p class="sc-example">
        <strong>![image-name](8192454cbba61.jpg)</strong>&nbsp;<span>Upload images above and click them to insert into your post</span>
    </p>
    <p class="sc-example">
        **<strong>Bold Text</strong>**
    </p>
    <p class="sc-example">
        *<em>Italic Text</em>*
    </p>
    <p>For more help with markdown see:</p>
    <p><a href="http://daringfireball.net/projects/markdown/syntax" target="_new">Daring Fireball Markdown</a></p>
</div>