<div id="user-detail">
    <a href="{{ meta.html_url }}"><img class="user-detail-image" src="{{ meta.avatar_url }}" alt="GitHub &ndash; {{ meta.login }}"/></a>
    <p>{% firstof user_settings.name meta.name meta.login %}</p>
    {% if meta.location %}
        <p>{{ meta.location }}</p>
    {% endif %}
    <p class="bio">{% filter striptags|truncatewords:15 %}{% firstof user_settings.bio meta.bio %}{% endfilter %}</p>
    <p class="divider">Public Repos: {{meta.public_repos}}</p>
    <p>Followers: {{meta.followers}}</p>
    <p>Following: {{meta.following}}</p>
</div>
