{% extends "auth_base.html" %}

{% block title %}Add a post{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tipsy.css">
{% endblock %}

{% block content %}
<div id="add-page">

    <div id="add-wrap">
    <div id="mode-msg">Add mode</div>

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table><tr><td>

        <div id="post-wrap">
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
        </div>
        {% endfor %}
        <div id="title">{{ form.title }}</div>
        <div id="slug">{{ form.slug }}</div>
        <div id="content">{{ form.content }}</div>
        <div id="status">
            {{ form.status }}
            <input type="submit" name="submit_post" value="Save changes" />
        </div>
        </div>

        {% include "partial-post-list.html" %}

    </td><td align="right" id="media-region">

        <div id="media-wrap">

            {% include "shortcode_help.html" %}

            <div id="media-form-wrap">
                
                {% csrf_token %}
                {{ media_form.file }}
                <input type="submit" name="submit_file" value="Upload File" />
            </div>

            {% include "partial-media-list.html" %}

        </div>

    </td></tr></table>
    </form>

    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.insertat.js"></script>
<script type="text/javascript">
    $('.media-item').tipsy({
        gravity: 'e'
    });
    $(".media-item a").click(function(){
        $("#id_content").insertAtCaret($(this).text());
        return false;
    });

    $("#shortcode-examples a").click(function(){
       $("#guide").toggle('slow'); 
    });

    /* slug autogenerate */
    var title_field = $('#id_title');
    var slug_field = $('#id_slug');
    title_field.keyup(function() {
        var value = $(this).val();
        value = value.replace(/[^\w]+/ig,'-');
        value = value.toLowerCase();
        value = value.substring(0, 45);
        slug_field.val(value);
    });

</script>
{% endblock %}
