{% extends "auth_base.html" %}

{% block title %}Add a post{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tipsy.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wmd.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}anytimec.css">
{% endblock %}

{% block content %}
<div id="add-page">

    <div id="add-wrap">
    <div id="mode-msg">Adding post ...</div>

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table><tr><td>

        <div id="post-wrap">
        {% include "_form_messages.html" with form=form %}
        <div id="title">{{ form.title }}</div>
        <div id="slug">{{ form.slug }}</div>
        <div id="wmd-button-bar" class="wmd-panel"></div>
        <div id="content">{{ form.content }}</div>
        <div id="date">
            <label for="id_publish_dt">Publish Date:</label>
            {{ form.publish_dt }}
        </div>
        <div id="status">
            {{ form.status }}
            <input type="submit" name="submit_post" value="Save changes" />
        </div>
        </div>

        {% include "_partial-post-list.html" %}

    </td><td align="right" id="media-region">

        <div id="media-wrap">

            {% include "_shortcode_help.html" %}

            <div id="media-form-wrap">
                {% csrf_token %}
                {{ media_form.file }}
                <input type="submit" name="submit_file" value="Upload File" />
            </div>

            {% include "_partial-media-list.html" %}

        </div>

    </td></tr></table>
    </form>

    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}wmd.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.insertat.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}anytimec.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}codrspace_admin.js"></script>
{% endblock %}
