{% extends "auth_base.html" %}

{% block title %}API Settings{% endblock %}

{% block content %}
   {% include "_form_messages.html" with form=form %}
   <div class="row">
       <div class="span12">
            <div class="page-header">
                <h2>API Key</h2>
            </div>
            <p><code>{{ api_key.key }}</code></p>
            <div class="page-header">
                <h2>Introduction</h2>
            </div>
            <p>Using the API is fairly simple. We currently have a single endpoint that will allow you to access your <code>posts</code>. If you would like to see any other endpoints please <a href="{% url "feedback" %}">leave us some feedback</a> and we will see if it's a fit.</p>
            <p>There are three parameters that will be required when accessing the API:</p>
            <p>
                <ul>
                    <li><code>format</code> - currently only <code>json</code> is supported</li>
                    <li><code>username</code> - your username <code>{{ user.username }}</code></li>
                    <li><code>api_key</code> - your api key <code>{{ api_key.key }}</code></li>
                </ul>
            </p>
            <p>Those must be appended to the end of the URL as a query string. Ex.</p>
            <p><code>{{ SITE_URL }}/api/v1/post/?format=json&username={{ user.username }}&api_key={{ api_key.key }}</code></p>
            <div class="page-header">
                <h2>Posts</h2>
            </div/>
            <h3>Get all posts</h3>
            <div class="well">
                <p><code>curl -X GET {{ SITE_URL }}/api/v1/post/?format=json&username={{ user.username }}&api_key={{ api_key.key }}</code></p>
                <p><strong>Output</strong></p>
                <pre>
{
   "meta":{
      "limit":20,
      "next":null,
      "offset":0,
      "previous":null,
      "total_count":2
   },
   "objects":[
      {
         "content":"This content is sooo leet.",
         "create_dt":"2012-03-23T15:17:09",
         "id":"[id]",
         "publish_dt":"2012-03-23T15:16:00",
         "resource_uri":"/api/post/[id]/",
         "slug":"an-leet-blog-post",
         "status":"published",
         "title":"An leet blog post",
         "update_dt":"2012-03-23T15:17:09",
         "url":"{{ SITE_URL }}/{{ user.username }}/an-leet-blog-post/"
      },
      {
         "content":"My killer content",
         "create_dt":"2012-03-18T02:26:21",
         "id":"[id]",
         "publish_dt":"2012-03-18T02:25:00",
         "resource_uri":"/api/post/[id]/",
         "slug":"this-blog-post-will-be-killer",
         "status":"published",
         "title":"This blog post will be killer",
         "update_dt":"2012-03-23T15:16:45",
         "url":"{{ SITE_URL }}/{{ user.username }}/this-blog-post-will-be-killer/"
      }
   ]
}</pre>
            </div>
            <h3>Get single post</h3>
            <div class="well">
                <p><code>curl -X GET {{ SITE_URL }}/api/v1/post/[id]/?format=json&username={{ user.username }}&api_key={{ api_key.key }}</code></p>
                <p><strong>[id] must be replaced with the id of your post object</strong></p>
                <p><strong>Output</strong></p>
                <pre>
{
   "content":"My killer content",
   "create_dt":"2012-03-18T02:26:21",
   "id":"[id]",
   "publish_dt":"2012-03-18T02:25:00",
   "resource_uri":"/api/post/[id]/",
   "slug":"this-blog-post-will-be-killer",
   "status":"published",
   "title":"This blog post will be killer",
   "update_dt":"2012-03-23T15:16:45",
   "url":"{{ SITE_URL }}/{{ user.username }}/this-blog-post-will-be-killer/"
}</pre>
            </div>

            <h3>Get post with given slug</h3>
            <div class="well">
                <p><code>curl -X GET {{ SITE_URL }}/api/v1/post/?format=json&username={{ user.username }}&api_key={{ api_key.key }}&slug=this-blog-post-will-be-killer</code></p>
                <p><strong>Output</strong></p>
                <pre>
{
   "content":"My killer content",
   "create_dt":"2012-03-18T02:26:21",
   "id":"[id]",
   "publish_dt":"2012-03-18T02:25:00",
   "resource_uri":"/api/post/[id]/",
   "slug":"this-blog-post-will-be-killer",
   "status":"published",
   "title":"This blog post will be killer",
   "update_dt":"2012-03-23T15:16:45",
   "url":"{{ SITE_URL }}/{{ user.username }}/this-blog-post-will-be-killer/"
}</pre>
            </div>
<h3>Create a post</h3>
            <div class="well">
                <h5>Fields</h5>
                <p>
                  <ul>
                    <li>title - the title of your post</li>
                    <li>Content - the content of your post</li>
                    <li>Slug - the post slug. <strong>See Notes</strong></li>
                    <li>status - either "published" or "draft". Defaults to "draft"</li>
                    <li>publish_dt - the date you want the post to be published. Can be in the past.<strong> See Notes</strong></li>
                  </ul>
                <h5>Notes</h5>
                <p>
                  <ul>
                    <li>Slug is not required. It will auto-generate a slug for you. <strong>If you already have a slug and the post generates one that is the same it will throw a 400 error with the slug error in the response</strong>
                    </li>
                    <li>If you set the status to "published" you will have to set <code>publish_dt</code>.<code>publish_dt</code> is in UTC (GMT)
                    </li>
                  </ul>
                <p><code>curl -X POST -H'Content-Type: application/json' -d'{"title": "An awsome post by me"}' {{ SITE_URL }}/api/post/?username={{ user.username }}&api_key={{ api_key.key }}</code></p>
                <p><strong>Output</strong></p>
                <pre>
{
    "content": "",
    "create_dt": "2013-05-27T17:52:54.436562",
    "id": [id],
    "publish_dt": null,
    "resource_uri": "/api/v1/post/[id]/",
    "slug": "an-awesome-post",
    "status": "draft",
    "title": "An awesome post",
    "update_dt": "2013-05-27T17:52:54.436593",
    "url": "{{ SITE_URL }}/glenbot/an-awesome-post/"
}
</pre>
            </div>
<h3>Update a post</h3>
            <div class="well">
                <h5>Fields</h5>
                <p>
                  <ul>
                    <li>title - the title of your post</li>
                    <li>Content - the content of your post</li>
                    <li>Slug - the post slug. <strong>See Notes</strong></li>
                    <li>status - either "published" or "draft". Defaults to "draft"</li>
                    <li>publish_dt - the date you want the post to be published. Can be in the past.<strong> See Notes</strong></li>
                  </ul>
                <h5>Notes</h5>
                <p>
                  <ul>
                    <li>Slug is not required. It will reuse the same slug for you unless you change it.</li>
                    </li>
                    <li>If you set the status to "published" you will have to set <code>publish_dt</code>.<code>publish_dt</code> is in UTC (GMT)
                    </li>
                  </ul>
                <p><code>curl -X PUT -H'Content-Type: application/json' -d'{"title": "this post is even more awesome now"}' {{ SITE_URL }}/api/v1/post/[id]/?username={{ user.username }}&api_key={{ api_key.key }}</code></p>
                <p><strong>[id] must be replaced with the id of your post object</strong></p>
                <p><strong>Output</strong></p>
                <pre>
{
    "content": "",
    "create_dt": "2013-05-27T17:52:54",
    "id": [id],
    "pk": "[id]",
    "publish_dt": null,
    "resource_uri": "/api/v1/post/[id]/",
    "slug": "an-awesome-post",
    "status": "draft",
    "title": "this post is even more awesome now",
    "update_dt": "2013-05-27T18:06:34.239753",
    "url": "{{ SITE_URL }}/{{ user.username }}/an-awesome-post/"
}
</pre>
            </div>
<h3>Delete a post</h3>
            <div class="well">
                <p><code>curl -X DELETE {{ SITE_URL }}/api/v1/post/[id]/?username={{ user.username }}&api_key={{ api_key.key }}</code></p>
                <p><strong>[id] must be replaced with the id of your post object</strong></p>
                <p><strong>Output</strong></p>
                <pre>
Nothing - you get HTTP/1.1 204 No Content
</pre>
            </div>
        </div>
   </div>
{% endblock %}
