<!DOCTYPE HTML>
<html>
    <head>
        <title>Codrspace</title>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24849984-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id="header">
            {% block header %} 
            {% endblock %}
        </div>

        <ul id="nav">
            {% block nav %} 
                <li><a href="#">Home</a></li>
                <li><a href="/signin/">Signin</a></li>
            {% endblock %}
        </ul>

        <div id="content">
            {% block content %} 
                <p>Welcome</p>
            {% endblock %}
        </div>
        
        <div id="footer">
            {% block footer %} 
            {% endblock %}
        </div>
        <script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
        <script type="text/javascript">
        try {
        reinvigorate.track("1um08-10kraz8amt");
        } catch(err) {}
        </script>
    </body>
</html>
