<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block pre_title %}{{ SITE_NAME }}:{% endblock %} {% block title %}{% endblock %}</title>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}codrspace.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}pygments.css">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-4556028-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        {% block nav %}
            {% include "_nav.html" with page="home" %}
        {% endblock %}
        {% block header %}
            <header>
                <h1>Write About Code with CodrSpace.</h1>
                <h2>{{ SITE_TAGLINE }}</h2>
            </header>
        {% endblock %}
        {% block messages %}
            {% include "_messages.html" with messages=messages %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            <footer>
                <p>&copy;2011 CodrSpace.com - All Rights Reserved.</p>
                <p>Want to contribute? <a href="https://github.com/Codrspace/codrspace">Fork CodrSpace</a> on github</p>
            </footer>
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.labelify.js"></script>
        {% block extra_body %}
            <script type="text/javascript" src="{{ STATIC_URL }}jquery.tipsy.js"></script>
            <script type="text/javascript">
                $('#recent-codrs .recent-codr-image').tipsy({
                    gravity: 's'
                });
            </script>
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}codrspace.js"></script>
    </body>
</html>
