{% extends "auth_base.html" %}


{% block content %}

<div id="edit-page">

    <div id="edit-wrap">
    <div id="mode-msg">Edit mode</div>
    <table><tr><td>

        <div >
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
            </div>
            {% endfor %}
            <div id="title">{{ form.title }}</div>
            <div id="content">{{ form.content }}</div>
            <div id="status">
            {{ form.status }}
            <input type="submit" value="Save changes" />
            <a href="{{ post.get_absolute_url }}">View Post</a>
            </div>
        </form>
        </div>

        {% if posts %}
        <ol id="post-list">
        {% for post in posts|slice:":10" %}
            <li><a href="{% url edit post.pk %}">
                {{ forloop.counter }}. {{ post.title }} 
                <span class="post-status {{ post.status }}">{{ post.status }}</span>
                <span class="content-summary">{{ post.content }} {{ post.publish_dt|date }}</span>
            </a></li>
        {% endfor %}
        </ol>
        {% endif %}

    </td><td align="right" id="media-region">

        <div id="media-wrap">

            <div id="media-form-wrap">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ media_form.file }}
                    <input type="submit" value="Upload File" />
                </form>
            </div>

            {% if media_set %}
            <div id="media-list">
            {% for media in media_set %}
                <div class="media-item" title="Click to append shortcode"><a href="javascript:;">{{ media.shortcode }}</a></div>
            {% endfor %}
            </div>
            {% endif %}

        </div>

    </td></tr></table>
    </div>

</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">

    $(".media-item a").click(function(){
        console.log('read me fast');
        $("#id_content").val($('#id_content').val()+ $(this).text());
        $("#id_content")[0].scrollTop = $("#id_content")[0].scrollHeight;
        return false;
    });

</script>
{% endblock %}
