{% extends "auth_base.html" %}

{% block title %}Editing post {{ post.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tipsy.css">
{% endblock %}

{% block content %}
<div id="edit-page">

    <div id="edit-wrap">
    <div id="mode-msg">Edit mode</div>

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table><tr><td>

        <div id="post-wrap">
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
            </div>
            {% endfor %}
            <div id="title">{{ form.title }}</div>
            <div id="slug">{{ form.slug }}</div>
            <div id="content">{{ form.content }}</div>
            <div id="status">
                {{ form.status }}
                <input type="submit" name="submit_post" value="Save changes" />
                <a id="view-post-link" href="{{ post.get_absolute_url }}">View Post &raquo;</a>
            </div>
        </div>

        {% if posts %}
        <ol id="post-list">
        {% for post in posts|slice:":10" %}
            <li><a href="{% url edit post.pk %}">
                {{ forloop.counter }}. {{ post.title }} 
                <span class="post-status {{ post.status }}">{{ post.status }}</span>
                <span class="content-summary">{{ post.content }} {{ post.publish_dt|date }}</span>
            </a></li>
        {% endfor %}
        </ol>
        {% endif %}

    </td><td align="right" id="media-region">

        <div id="media-wrap">

            {% include "shortcode_help.html" %}

            <div id="media-form-wrap">
                {% csrf_token %}
                {{ media_form.file }}
                <input type="submit" name="submit_file" value="Upload File" />
            </div>

            {% if media_set %}
            <div id="media-list">
            {% for media in media_set %}
                <div class="media-item" title="Click to insert shortcode"><a href="javascript:;"><span>{{ media.shortcode }}</span></a></div>
            {% endfor %}
            </div>
            {% endif %}

        </div>

    </td></tr></table>
    </form>
    </div>

</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.tipsy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.insertat.js"></script>
<script type="text/javascript">
    $('.media-item').tipsy({
        gravity: 'e'
    });
    $(".media-item a").click(function(){
        $("#id_content").insertAtCaret($(this).text());
        return false;
    });

    /* slug autogenerate */
    var title_field = $('#id_title');
    var slug_field = $('#id_slug');
    title_field.keyup(function() {
        var value = $(this).val();
        value = value.replace(/[^\w]+/ig,'-');
        value = value.toLowerCase();
        value = value.substring(0, 45);
        slug_field.val(value);
    });

</script>
{% endblock %}
