{% extends "auth_base.html" %}


{% block content %}
<div id="edit-page">

    <div id="edit-wrap">
    <table><tr><td>

        <div id="mode-msg">Edit mode</div>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
            </div>
            {% endfor %}
            <div id="title">{{ form.title }}</div>
            <div id="content">{{ form.content }}</div>
            <div id="status">{{ form.status }}</div>
            <div id="submit-btn"><input type="submit" value="Save changes" /></div>
        </form>

    </td><td>

    </td></tr></table>
    </div>

    {% if posts %}
    <ol id="post-list">
    {% for post in posts|slice:":10" %}
        <li><a href="{% url edit post.pk %}">
            {{ forloop.counter }}. {{ post.title }} 
            <span class="post-status {{ post.status }}">{{ post.status }}</span>
            <span class="content-summary">{{ post.content }} {{ post.create_dt }}</span>
        </a></li>
    {% endfor %}
    </ol>
    {% endif %}

{% endblock %}
