{% extends "base.html" %}

{% load codrspace_tags %}
{% load cache %}

{% block title %}{{ SITE_TAGLINE }}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %} 
    <div class="row">
        <div class="span6">
            <div class="well home-well">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>Integrated with GitHub</li>
                    <li>Automatic Syntax Highlighting</li>
                    <li>Focus on Writing with Markdown</li>
                    <li>Insert code with Gist, File, or Inline</li>
                </ul>         
            </div>
        </div>
        <div class="span6">
            <div class="well home-well">
                {% if not user.is_authenticated %}
                    <h2>Welcome to Codrspace!</h2>
                    <p>To start blogging you will need to sign in with your <a href="https://github.com">GitHub</a> account</p>
                    <a class="btn btn-success btn-large btn-huge" href="{% url signin_start %}">Sign in with Github
                    </a>
                {% else %}
                    <h2>Welcome back, {{ user.username }}</h2>
                    <p>Lets find something to do:</p>
                    <ul class="home-options-list">
                        <li><a href="{% url add %}"><i class="icon-edit"></i> Post Something</a></li>
                        <li><a href="{% url post_list user.username %}"><i class="icon-user"></i> Re-visit Your Posts</a></li>
                        <li><a href="{% random_blog %}"><i class="icon-random"></i> Check Out A Random Blog</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                {% cache 3600 home_latest_posts %}
                    {% latest_posts 6 %}
                {% endcache %}
                <div class="clear"><!-- IE --></div>            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div id="recent-codrs-wrapper">
                <h3>People already using CodrSpace</h3>
                {% cache 3600 home_recent_codrs %}
                    {% recent_codrs 20 %}
                {% endcache %}
            </div>
        </div>
    </div>
{% endblock %}
