<div id="latest-posts">
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            {% with post.author.profile.get_meta as git_meta %}
                <img src="{{ git_meta.avatar_url }}" width="40" height="40" />
                    {% filter striptags %}
                        {% firstof post.title 'Untitled' %}
                    {% endfilter %}</a>
            {% endwith %}
        </a>
    {% empty %}
        <div>No posts available yet</div>
    {% endfor %}
</div>