{% extends "base.html" %}

{% load short_codes %}
{% load codrspace_tags %}

{% block title %}{% firstof post.title "Django training" %} by {{ post.author.username }}{% endblock %}

{% block nav %}
    {% include "_nav.html" with page="post_detail" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="post-list-content">
        <div id="left-column">
            {% include "user_detail.html" with meta=meta %}
            {% ifequal user post.author %}
                <ul id="auth-options">
                    <li><a href="{% url add %}">Add Post</a></li>
                    <li><a href="{% url signout %}">Sign Out</a></li>
                </sul>
            {% endifequal %}
            <ul id="other-links">
                <li><a href="{% url homepage %}">Home</a></li>
                <li><a href="{% url post_list username %}">All posts by {{ username }}</a></li>
                <li><a href="{% random_blog %}">Random Blog</a></li>
            </ul>
        </div>
        <div id="right-column">
                {% include "_post_content.html" with post=post %}
                <a href="{% url post_list username %}">All posts by {{ username }}</a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
