{% extends "base.html" %}

{% load markup %}
{% load short_codes %}
{% load syntax_color %}

{% block title %}{% firstof post.title "Django training" %} by {{ post.author.username }}{% endblock %}

{% block content %}
    <div id="post-list-content">
        <div id="left-column">
            {% include "user_detail.html" with meta=meta %}
            {% ifequal user post.author %}
                <ul id="auth-options">
                    <li><a href="{% url add %}">Add Post</a></li>
                    <li><a href="{% url signout %}">Sign Out</a></li>
                <ul>
            {% endifequal %}
        </div>
        <div id="right-column">
                <div class="post">
                    <h1 class="post-header">{% firstof post.title "Untitled tutorial" %}</h1>
                    <div class="post-meta">{{ post.create_dt }}</div>
                    <div class="post-content">
                        {% load cache %}
                        {% cache 3600 content %}
                            {{ post.content|explosivo }}
                        {% endcache %}
                    </div>
                    {% ifequal user post.author %}
                        <div class="post-options">
                            <a href="{% url edit post.pk %}">Edit Post</a>
                        </div>
                    {% endifequal %}
                </div>
        </div>
    </div>
{% endblock %}
