{% extends "base.html" %}

{% load short_codes %}
{% load codrspace_tags %}

{% block pre_title %}
{% if user_settings.blog_title %}
    {{ user_settings.blog_title|striptags }} - 
{% else %}
    {{ SITE_NAME }} - 
{% endif %}
{% endblock %}

{% block title %}{% firstof post.title "Untitled" %} by {{ post.author.username }}{% endblock %}

{% block nav %}
    {% include "_nav.html" with page="post_detail" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="post-detail-page">
        <div class="row">
           <div class="span12">
                <i class="icon-arrow-left"></i> <a href="{% url post_list post.author.username %}">Latest posts by {{ post.author.username }}</a>
                {% if post.status != "deleted" %}
                    {% include "_post_content.html" with post=post %}
                {% endif %}
           </div>
        </div>
    </div>
    <div id="popover-content">
        <div id="popover-wrap">
            <a href="{{ meta.html_url }}"><img class="user-detail-image" src="{{ meta.avatar_url }}" alt="GitHub &ndash; {{ meta.login }}"/></a>
            <p>{% firstof user_settings.name meta.name meta.login %}</p>
            {% if meta.location %}
                <p>{{ meta.location }}</p>
            {% endif %}
            <p>{% filter striptags|truncatewords:15 %}{% firstof user_settings.bio meta.bio %}{% endfilter %}</p>
        </div>
        <div class="clear"><!-- ie --></div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-popover.js"></script>
    <script type="text/javascript">
        $('a[rel=popover]').popover({
            content: $('#popover-content').html()
        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}
