{% extends "base.html" %}

{% load short_codes %}
{% load codrspace_tags %}

{% block pre_title %}
{% if user_settings.blog_title %}
    {{ user_settings.blog_title|striptags }} - 
{% else %}
    {{ SITE_NAME }}:
{% endif %}
{% endblock %}

{% block title %}
{% if user_settings.blog_tagline %}
    {{ user_settings.blog_tagline|striptags }}
{% else %}
    Latest posts by {{ username }}
{% endif %}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url posts_feed username %}" title="Codrspace: Posts by {{ username }}">
{% endblock %}

{% block nav %}
    {% include "_nav.html" with page="post_list" %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="post-list-content">
        <div id="left-column">
            {% include "_user_detail.html" with meta=meta %}
            {% ifequal username user.username %}
                <ul id="auth-options">
                    <li><a href="{% url add %}">Add Post</a></li>
                    <li><a href="{% url signout %}">Sign Out</a></li>
                </ul>
            {% endifequal %}
            <ul id="other-links">
                <li><a href="{% url homepage %}">Home</a></li>
                <li><a href="{% random_blog %}">Random Blog</a></li>
            </ul>
        </div>

        {% load cache %}
        {% cache 300 post_list username %}

        <div id="right-column">
            {% for post in posts %}
                {% if post.status != "deleted" %}
                    {% if post.status == "draft" %}
                        {% if username == user.username %}
                            {% include "_post_content.html" with post=post %}
                        {% endif %}
                    {% else %}
                        {% include "_post_content.html" with post=post %}
                    {% endif %}
                {% endif %}
            {% empty %}
                {% if username == user.username %}
                    <div id="no-posts-message">
                        <p>A little empty ...</p> 
                        <p><a href="{% url add %}">Let's add some posts!</a></p>
                    </div>
                {% else %}
                    <div id="no-posts-message">
                        <p>This person hasn't posted yet :(</p>
                    </div>                
                {% endif %}
            {% endfor %}
        </div>

        {% endcache %}

    </div>
{% endblock %}

{% block footer %}{% endblock %}
