{% extends "auth_base.html" %}

{% block title %}Blog &amp; User Settings{% endblock %}

{% block content %}
   {% include "_form_messages.html" with form=form %}
   <div id="settings-page">
   <div class="row">
       <div class="span12">
            <h2>Settings</h2>
            <form method="POST" action="." class="well">
                {% csrf_token %}
                <div class="form-vertical">
                    <fieldset>
                        <legend>Blog Settings</legend>
                    </fieldset>
                </div>
                <label>Title</label>
                {{ form.blog_title }}
                <label>Tagline</label>
                {{ form.blog_tagline }}
                <div class="form-vertical">
                    <fieldset>
                        <legend>User Settings</legend>
                    </fieldset>
                </div>
                <label>Your Name</label>
                {{ form.name }}
                <label>Biography</label>
                {{ form.bio }}
                <label>Time Zone</label>
                {{ form.timezone }}
                <div class="form-button">
                    <input class="btn btn-success btn-large" type="submit" name="submit" value="Save Settings" />
                </div>
            </form>
        </div>
   </div>
   </div>
{% endblock %}
