{% extends "auth_base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div id="settings-page">
        <div id="settings-wrap">
            <form method="POST" action=".">
                <h2>Settings</h2>
                {% include "_form_messages.html" with form=form %}
                {{ form.hidden }}
                <div class="section">Blog Settings</div>
                <p>Title:</p>
                <div class="field">{{ form.blog_title }}</div>
                <p>Tagline:</p>
                <div class="field">{{ form.blog_tagline }}</div>

                <div class="section">User settings</div>
                <p>Your Name:</p>
                <div class="field">{{ form.name }}</div>
                <p>Biography:</p>
                <div class="field">{{ form.bio }}</div>
                <p>Time Zone:</p>
                <div class="field">{{ form.timezone }}</div>
                <input id="submit-button" type="submit" name="update_settings" value="Update Settings" />
            </form>
        </div>
    </div>
{% endblock %}
