<p>Codrspace supports shortcodes and uploads in posts!</p>
<ul id="shortcode-examples">
    <li>[gist github_gist_id]</li>
    <li>[url full_url]<br><br></li>
    <li>
        <div class="media-item" title="Click to try it out">
            <a href="javascript:;">[gist 1116499]</a>
        </div>
    </li>
    <li>
        <div class="media-item" title="Click to try it out">
            <a href="javascript:;">[url https://raw.github.com/durden/dash/master/urls.py]</a>
        </div>
    </li>
</ul>
