<div id="guide">
    <h3>Shortcode and MarkDown Examples</h3>
    <ol id="shortcode-list">
        <li><strong>[gist 1044977]</strong> <span>Use Gist ID's from https://gist.github.com/</span></li>
        <li><strong>[url http://eloyz.com/robots.txt]</strong> <span>Include any markup from any public URL.</span></li>
        <li><strong>[local example.txt]</strong> <span>Upload files below and click them to insert into your post</span></li>
        <li><strong>![image-name](/site_media/media/8192454cbba61.JPG)</strong> <span>Upload images below and click them to insert into your post</span></li>
    </ol>
</div>