{% extends "base.html" %}

{% block header %}
    <div id="auth-header">
        <ul>
            <li><a href="{% url homepage %}"><span class="codr-logo-text">CodrSpace<span></a></li>
            <li>Wecome, {{ user.username }}</li>
            <li><a href="{% url add %}">Add Post</a></li>
            <li><a href="{% url post_list user.username %}">Go to posts &rarr;</a></li>
        </ul>
    </div>
    <div class="clear"><!-- &nbsp; --></div>
    <div id="header-spacer">&nbsp;</a>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}{% endblock %}


{% block footer %}
    <div id="auth-footer">
        <span class="codr-logo-text">2011 CodrSpace</span>&nbsp;&nbsp;<a href="{% url signout %}">Sign Out</a>
    </div>
{% endblock %}