<!DOCTYPE HTML>
<html>
    <head>
        <title>Codrspace: {% block title %}{% endblock %}</title>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24849984-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}codrspace.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}pygments.css">
    </head>
    <body>
        {% block header %}
            <div id="header" class="shadowee">
                <div class="logo">
                    <a href="{% url homepage %}">
                        <img alt="CodrSpace - {{ TAGLINE }}" src="{{ STATIC_URL }}codrspace-logo1.png"/>
                    </a>
                </div>
                <div class="tagline">{{ TAGLINE }}</div>
            </div>
        {% endblock %}
        {% block nav %}{% endblock %}
        {% include "messages.html" with messages=messages %}
        {% block content %}{% endblock %}
        {% block footer %}
            <div id="footer" class="shadowee">Created by <a href="http://www.lukelee.net/">Luke Lee</a>, <a href="http://theglenbot.com">Glen Zangirolami</a>, and <a href="http://eloyz.com">Eloy Zuniga</a> for Django Dash 2011</div>
        {% endblock %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.labelify.js"></script>
        <script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
        <script type="text/javascript">
            try {
            var re_name_tag = "{% firstof user.username 'lurker' %}";
            reinvigorate.track("1um08-10kraz8amt");
            } catch(err) {}
        </script>
        {% block extra_body %}
            {{ block.super }}
            <script type="text/javascript" src="{{ STATIC_URL }}jquery.tipsy.js"></script>
            <script type="text/javascript">
                $('#recent-codrs .recent-codr-image').tipsy({
                    gravity: 's'
                });
                $('body').css('background', 'url("{{ STATIC_URL }}body-bg.jpg")');
            </script>
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}codrspace.js"></script>
    </body>
</html>
