<div id="user-detail">
    <a href="{{ meta.html_url }}"><img class="user-detail-image" src="{{ meta.avatar_url }}" alt="GitHub &ndash; {{ meta.login }}"/></a>
    <p>{% firstof meta.name meta.login %}</p>
    {% if meta.location %}
        <p>{{ meta.location }}</p>
    {% endif %}
    {% if meta.bio %}
        <p class="bio">{{ meta.bio }}</p>
    {% endif %}
    <p class="divider">Public Repos: {{meta.public_repos}}</p>
    <p>Followers: {{meta.followers}}</p>
    <p>Following: {{meta.following}}</p>
</div>
