body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'OCRAStdRegular';
    src: url('ocrastd-webfont.eot');
    src: url('ocrastd-webfont.eot?#iefix') format('embedded-opentype'),
         url('ocrastd-webfont.woff') format('woff'),
         url('ocrastd-webfont.ttf') format('truetype'),
         url('ocrastd-webfont.svg#OCRAStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#home-content { padding: 20px; }
#home-content h3 { font-family: 'OCRAStdRegular'; font-size: 20px;}
#header { border-bottom: 1px solid #ccc; padding: 10px; }
#header .logo { font-size: 36px; }
#header .logo a { color: white; text-decoration: none; }
#header .logo a:hover { text-decoration: underline; }
#header .tagline { padding-left: 195px; }
a.get-started { font-size: 24px; }
#footer { 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
}

.coder-font {
  font-family: 'OCRAStdRegular'; 
}

.shadowee {
    background-color: #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.9) 0%), to(rgba(30, 30, 30, 0.9) 50%));
      /* Saf4+, Chrome */
   background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
   background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
   background-image: -ms-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
   background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
   background-image: linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  border: 0;
   -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
   -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
   -ms-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
   -o-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
   box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
   color: #fff;
   text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(255, 255, 255, 0.3);
}

.clear {
  clear: both;
}

/* auth base header and footer */
#auth-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
}

#auth-header ul {
  list-style-type: none;
  float: left;
  padding: 3px 0 3px 5px;
}

#auth-header ul li {
  float: left;
  padding-right: 25px;
}

#auth-header ul li a {
  text-decoration: none;
  color: #ffd031;
}

#auth-header ul li a:hover {
  text-decoration: none;
  color: #ffdf75;
}

#auth-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

#auth-footer a {
  text-decoration: none;
  color: #ffdf75;  
}

/* post-list content */
#post-list-content {
  width: 1000px;
}

#post-list-content #left-column {
    float: left;
    border-right: 1px dotted #ccc;
    padding: 10px 20px 10px 10px;
    width: 175px;
    text-align: center;
}

#post-list-content #right-column {
    float: left;
    padding: 10px 10px 10px 50px;
    width: 650px;
}

#post-list-content .post {
  margin-bottom: 50px;
}

#post-list-content .post-header {
  margin: 0 0 4px 0;
  font-size: 30px;
}

#post-list-content .post-meta {
  font-style: italic;
  font-size: 12px;
  color: #777;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#post-list-content .post-content {
  margin-top: 20px;
}

#post-list-content .post-content h1 {
  font-size: 20px;
  color: #555;
}

#post-list-content .post-content h2 {
  font-size: 16px;
  color: #555;
}

#post-list-content .post-content h3 {
  font-size: 14px;
  color: #555;
}

#post-list-content .post-content h4 {
  font-size: 12px;
  color: #555;
}

#post-list-content .post-options {
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#post-list-content ul#auth-options {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

#post-list-content ul#auth-options li {
  margin-top: 5px;
}

#no-posts-message {
  background-color: #ebebeb;
  padding: 20px;
  font-size: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#post-list-content ul#other-links {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

#post-list-content ul#other-links li {
  margin-top: 5px;
}

/* user detail */
#user-detail p {
  margin: 5px 0 5px 0;
  color: #222;
}

#user-detail p.bio {
  margin-top: 15px;
  color: #777;
}

#user-detail p.divider {
  margin-top: 20px;
}

#user-detail img.user-detail-image {
  border: 10px solid #e2e2e2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* add/edit form
----------------------------- */
#add-page form #title input {
  font-size: 30px;
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
}

#add-page form #content {
  padding: 0;
}

#add-page form #content textarea {
  font-size: 14px;
  width: 97%;
  border: 1px solid #DDD;
  padding: 10px;
}

#add-page form #submit-btn input {
  font-size: 150%;
  font-weight: bold;
}

#edit-page form #title input {
  font-size: 30px;
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
}

#edit-page form #content {
  padding: 0;
}

#edit-page form #content textarea {
  font-size: 14px;
  width: 97%;
  border: 1px solid #DDD;
  padding: 10px;
}

#edit-page form #submit-btn input {
  font-size: 150%;
  font-weight: bold;
}

#post-list .content-summary {
  color: #AAA;
  font-size: .9em;
}

#post-list a {
  color: inherit;
  text-decoration: inherit;
}

ol#post-list {
  padding-left: 0;
  list-style-type: none;
}
#post-list li {
  padding: 5px;
}

#post-list li:hover {
  color: white;
  background-color: black;
}

#auth-homepage #post-list .post-item {
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#auth-homepage #post-list .post-title {
  margin: 0;
}

#auth-homepage #post-list .post-title a {
  padding: 3px 0;
}
#auth-homepage #post-list .post-title a:hover {
  color: white;
  background-color: black;
}

#auth-homepage #post-list .post-create-dt {
  color: silver;
  font-size: .8em;
}

#add-page {
  margin-top: 56px;
}

#add-page table td {
  vertical-align: top;
}

#edit-page table td {
  vertical-align: top;
}

#add-page #post-list {
  background-color: #EEE;
  padding: 10px;
  margin: 0;
/*  width: 400px;*/
}

#edit-page {
  margin-top: 56px;  
}

#edit-page #post-list {
  background-color: #EEE;
  padding: 10px;
  margin: 0;
/*  width: 400px;*/
}

#mode-msg {
  background-color: #FFE;
  padding: 5px;
}

#add-wrap {
  margin-bottom: 10px;
}

#edit-wrap {
  margin-bottom: 10px;
}

.post-status {
  color: white;
  font-size: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
}
.post-status.draft {
  background-color: orange;
}

.post-status.published {
  background-color: green;
}

#add-wrap table {
  width: 100%;
}

#add-wrap td#media-region {
  width: 400px;
}

#edit-wrap table {
  width: 100%;
}

#edit-wrap td#media-region {
  width: 400px;
}

#media-wrap {
  width: 400px;
}

#media-form-wrap {
  background-color: #EEE;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
}

#media-form-wrap input#id_file {
  width: 160px;
}

#media-list .media-item {
  font-size: 10px;
  background-color: #FAFAFA;
  text-align: left;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#media-list .media-item a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}

#media-list .media-item a:hover {
  color: white;
  background-color: black;
}

/* latest posts */
div#latest-posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#latest-posts-wrapper {
  width: 400px;
}

div#latest-posts ul li {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

div#latest-posts ul li img {
    vertical-align: middle;
    padding-right: 5px;
}

div#latest-posts ul li:hover {
    background-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}